

img {
    width: 120px;
    height: 60px;
    object-fit: cover;
    border-radius: 5%;
    opacity: 0.5;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#image {
    max-width: max-content;
    display: flex;
    margin-right: 2%;
    transition: transform 0.3s ease, color 0.3s ease; 
}

#image:hover {
    transform: scale(1.1);
}


a {
    display: flex;
}

#view {
    font-weight: 400;
    margin-bottom: 4%;
    transform-origin: left center;
    transition: transform 0.3s ease, color 0.3s ease;
}

#view:hover {
    transform: scale(1.1);
    color: #d4af37; /* base gold color */
    background: linear-gradient(90deg, #f9d976, #d4af37, #b8860b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

#golden{
    color: #d4af37; /* base gold color */
  background: linear-gradient(90deg, #f9d976, #d4af37, #b8860b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}