
  
#home-container {
    display: flex;
    height: 100vh;
    margin: 7%;
    margin-left: 12%;
    margin-right: 12%; 
  
}

/* Name Component */
#home-container > div:first-child {
  
    width: 50%;       /* Left half of the screen */
    padding: 2rem;    /* optional spacing */
    box-sizing: border-box;
}

/* AboutMe Component */
#home-container > div:last-child {
    
    width: 50%;       /* Right half of the screen */
    padding: 2rem;    /* spacing */
    box-sizing: border-box;
}

.pointer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 1rem;
    aspect-ratio: 1;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid transparent;
    border-radius: 50%;
    pointer-events: none;
    transform: translate3d(var(--mouseX, 0), var(--mouseY, 0), 0);
    
}

#non-sticky{
    overflow: scroll;
    scroll-behavior: smooth;
}