
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
}

  #port-title h3,
#port-title h1 {
  margin: 0; /* remove default top & bottom margins */
  padding: 0;
}
#port-title h1{
    margin-bottom: 3%;
}

  .title {
    display: flex;
    align-items: center; 
    gap: 0.5rem;
    color: pink;
 
  }

#port-container {
    margin-left: 5%;
    margin-right: 5%;
   
}
h3 {
    
 
    display: inline;
    justify-content: align;
}


.pointer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 1rem;
    aspect-ratio: 1;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid transparent;
    border-radius: 50%;
    pointer-events: none;
    transform: translate3d(var(--mouseX, 0), var(--mouseY, 0), 0);
    
}

#view {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 400;
    transform-origin: left center;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
    color: black; /* default color */
    text-decoration: none;
  }
  
 
  
  /* make sure icon inherits currentColor */
  #view .icon {
    transition: inherit;
    color: currentColor;
  }
 



table,  td {
    overflow-y: scroll;
    border-collapse: collapse;
}


table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    font-family: sans-serif;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  
  th, td {
    padding: 0.75rem 7rem;
    border-bottom: 1px solid #cccccc3d; /* horizontal line only */
  }
  
  /* optional: remove bottom border from last row */
  tr:last-child td {
    border-bottom: none;
  }
  
  /* remove vertical lines */
  th, td {
    border-left: none;
    border-right: none;
  }
  
  #grey {
    color: rgba(255, 255, 255, 0.69);
  }
  
  th {
    font-weight: bolder;
  }

  td {
    font-weight: lighter;
  }

  .back-link {
    text-decoration: none; /* remove underline */
    color: inherit;         /* use the h3’s color */
    display: inline-flex;   /* keeps icon + text on same line */
    align-items: center;    /* vertically centers icon + text */
    gap: 0.5rem;            /* space between icon and name */
    transition: transform 0.3s ease, box-shadow 0.5s ease, border-color 0.3s ease;
  }
  
  .back-link:hover {
color: pink;
    transform: scale(1.1);
  }
  

  .table-container {
    max-height: 60vh;   /* table container max height */
    overflow-y: auto;   /* vertical scroll */
    width: 100%;        /* full width */
    margin-top: 2rem;   /* optional spacing from header */
    border-top: none;   /* optional */
    
  }
  

  